.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.button:hover {
  @apply bg-blue-700;
}
